<!-- <div class="col-md-2 order-md-2 mb-4"> -->
    <h6 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Seu carrinho</span>
      <span class="badge badge-secondary badge-pill">{{cesta.length}}</span>    
    </h6>
    <!-- <ul class="list-group mb-3">
      <li *ngFor="let item of meusPedidos" class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <small class="text-muted">{{item.quantidade}} X {{item.nome}}</small>
        </div>
        <span class="text-muted">{{item.preco}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (BRL)</span>
        <strong>R$20</strong>
      </li>
    </ul> -->
  <!-- </div> -->
