<p-toast></p-toast>
<div class="row text-center">
        <div class="col-12">
            <form [formGroup]="formCliente">
                <div class="form-group">
                  <label for="email">Nome</label>
                  <input type="text" class="form-control" formControlName="nome" placeholder="Seu nome">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="email">Telefone</label>
                  <input type="tel" maxlength="20" class="form-control" [mask]="'(00) 0?0000-0000'" formControlName="telefone" placeholder="(00) 90000-000">
                </div>
                
          </form>
        </div>    
</div>
    <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
        <button type="button" (click)="cadastrarCliente()"  class="btn btn-success btn-block">Cadastrar e Continuar</button>
    </div> 
</div>
